html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #f8f9fa;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
}

a {
  color: rgb(60, 64, 67);
  text-decoration: none;
}

a:hover {
  color: #1967d2;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.content {
  width: 90%;
  max-width: 1290px;
  margin: auto;
}

.disabled {
  background-color: dodgerblue;
}

.form-content {
  width: 50%;
  max-width: 800px;
  margin: auto;
}

.MuiButton-containedPrimary {
  margin: 15px auto !important;
}

.form-title {
  text-align: center;
  margin: 20px auto;
}

.fa-heart {
  fill: currentColor;
  cursor: pointer;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.w-md-editor {
  margin-bottom: 1rem;
}
