html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

p {
  font-size: 1rem;
}

a {
  color: rgb(60, 64, 67);
  text-decoration: none;
}

a:hover {
  color: #1967d2;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.disabled {
  background-color: dodgerblue;
}

/* .form-content {
  width: 50%;
  max-width: 800px;
  margin: auto;
} */

.form-title {
  text-align: center;
  margin: 20px auto;
}

.fa-heart {
  fill: currentColor;
  cursor: pointer;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 2rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.w-md-editor {
  margin-bottom: 1rem;
}

.w-md-editor-text-input {
  color: rgba(0, 0, 0, 0.84);
}

.wmde-markdown pre code {
  background-color: rgba(0, 0, 0, 0.84);
  text-shadow: none;
  font-size: 1rem;
}

.wmde-markdown-color code[class*="language-"] .token.keyword {
  color: #f078be;
}

.wmde-markdown-color code[class*="language-"] .token.function {
  color: #50fa7b;
}

.wmde-markdown-color code[class*="language-"] .token.punctuation {
  color: #e4e5e1;
}

.wmde-markdown-color code[class*="language-"] .token.comment,
.wmde-markdown-color code[class*="language-"] .token.block-comment,
.wmde-markdown-color code[class*="language-"] .token.prolog,
.wmde-markdown-color code[class*="language-"] .token.doctype,
.wmde-markdown-color code[class*="language-"] .token.cdata {
  color: #596893;
}

.wmde-markdown-color code[class*="language-"] .token.string {
  color: #f0f98c;
}

.wmde-markdown-color code[class*="language-"] .token.operator,
.wmde-markdown-color code[class*="language-"] .token.entity,
.wmde-markdown-color code[class*="language-"] .token.url,
.wmde-markdown-color code[class*="language-"] .token.variable {
  background-color: none;
}
